.carousel-item {
    text-align: center;
    padding: 100px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.carousel-item {
    cursor: pointer;
    transition: transform 0.2s;
}
.carousel-item:hover{
    transform: scale(1.05);

}
body{
    background-image: url(../sfondo_home.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    padding: 0;
}
h1{
    color: white;
}
#titolo{
    width: 60%;
    max-width: 600px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    position: absolute; 
    top: 10%;
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: transparent;
    backdrop-filter: blur(1rem);
}
a{
    color: white;
}
a:hover{
    color: white;
}


@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem;
    }
    .carousel-item .border {
        width: 100%;
        max-width: 80%;
    }
    .btn-lg {
        font-size: 1rem;
        padding: 0.5rem 1.5rem;
    }
    #confirm-selection .btn {
        width: 100%;
        padding: 1rem;
    }
}